body {
  margin: 0;
  padding: 0;
  background-color:rgb(20, 20, 20);
  color: white;

}

.customnav {
  background-color: rgb(22, 21, 21);
}

.navbar {
  padding-right: 50px;
  padding-left: 0;
}

.bg-black {
  background-color: transparent;
}
.tv-shows {
  padding-left: 18px;;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
}

.xplore {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size:11px;
  opacity: 0;
}

.footer {
  max-width: 980px;
  margin-left: 100px;
  /* padding: 0 4%; */
  color: grey;
}

.nav-link {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.border {
  border: 1px solid white;
  height: 30px;
}

.borderbtn {
  margin-top: -6.5px;
}

.navbar-light {
  color: white;
}

.account {
  height: 10vh;
  border-bottom: 1px solid gray;
}

.membership {
  color: grey;
  
}

.btn-gray {
  background-color: #dadad4;
  border: transparent;
  border-radius: 0;
}

.membershipbody{
  height: 10vh;
  color: black;
  
}

#password {
  color: gray;
}

.myprofile {
  border-top: 1px solid grey;
  
}

.changeplan {
  /* border-top: 1px solid grey; */
  border-bottom: 1px solid grey;

}

.logo {
  cursor: pointer;
  margin-top: 5px;
  padding-top: 7px;
  height: 25px;
  width: 20px;
}

.logo:focus .navSearch {
  opacity: 0 !important;
}

.navSearch {
  opacity: 1;
  width: 250px !important;
  height: 36px !important;
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0.664)
}

.navSearch:focus {
  background-color: rgba(0, 0, 0, 0.664);
  border-color: white;
 
  
}

.span {
  color: gray;
}

#dropdown-menu {
  background-color: black;
}

.text-align {
  text-align: right;
}

.textdown {
  text-align: bottom;
  padding-top: 20px;
}

.textdown1 {
  padding-top: 60px;
}

.account1 {
  border-bottom: 1px solid grey;
}


hr {
  width: 738px; margin-right:10%;
  color: grey;
}

.foot {
  max-width: 100px;
  position: relative;
}

.strive {
  padding-left: 20px;
}

h6 {
  cursor: pointer;
}

h4 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 16px;
  font-size: 18px;
}

.service-code {
  border: 1px solid rgb(104, 104, 104);
  border-radius: 0;
  margin-right: 859px;
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 13px;
  padding: .5em;
}

.serv {
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 11px;
}

.dope {
  width: 100%;
}

a {
  margin:0 auto;    
  display:block;
  
}

.dropdown-menu {
  color: white;
  width: 100px;
  /* display: none; */
  /* padding: 50px; */
  background: black;
  z-index:100;
  position:absolute;
}

.dropdown-divider {
  background: black;
  color: black;
}

.dropdown-item {
  color: white;
}

.pl-5 {
  color: white;
}

.genreDiv {
  background-color: black !important;
  border: 1px solid white;
  width: 109.13px;
  height: 24.66px;
}

.header {
  /* padding-left: 52px; */
  padding-right: 60px;
}

.arrow-right {
  opacity: 0;
}
a.nav-link {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
  color: #b3b3b3 !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px !important;

}

h4 {
  cursor: pointer;
}

h4:hover .arrow-right  {
  opacity: 1;
  cursor: pointer;
}

h4:hover .xplore {
  opacity: 1;
  cursor: pointer;
}

.app-container {
  padding-left: 52px;
  /* padding-right: 52px; */
}

.genrebtn {
  margin-top: -8px;
}

.form{
  opacity: 0;
}

.form:hover {
  opacity: 1;
}

/* .design {
  object-fit: cover;
} */

.movie {
  padding: 0;
  width: 240px;
  height: 135px;
}

.colxx {
  padding: 0;
  width: 240px;
  height: 135px;

}



.card {
  padding:0;
  border: none;
  width: 240px;
  height: 135px;
  overflow: hidden;
}

#action {
  overflow-y: scroll;
  display: flex;
  flex-wrap: nowrap;

}

#horror {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}

#comedy {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}

#action::-webkit-scrollbar {
  display: none;
}

#horror::-webkit-scrollbar {
  display: none;
}

#comedy::-webkit-scrollbar {
  display: none;
}
/*------------------------------------Row Css--------------------------------*/
.infos-container {
  width: 100%;
  /* height: 120px; */
  color: white;
  background: #141414;
  position: absolute;
  transform: translateY(-3.3rem);
  padding: 1rem;
  opacity: 0;
  transition: all 0.25s ease-in-out, padding 0.25s ease-out 0.15s;
  pointer-events: none;
  overflow: hidden;
}

.card-gallery{
  transform: scale(1);
  transition: transform 0.3s ease-out;
}
.card-gallery:hover {
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0px 10px 13px -7px #494848, 0px 3px 17px 5px rgba(110, 109, 109, 0.52); 
box-shadow: 0px 10px 13px -7px #525252, 0px 3px 17px 5px rgba(82, 82, 82, 0.52);
}


.infos-content .play-btn:not(:hover) {
  background: white;
}

 .infos-content .play-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid white;
  position: relative;
  opacity: 0;
} 

 .infos-content .play-btn:hover {
  background-color: rgb(223, 223, 223);
  animation: gradientSlide 4s ease infinite;
}

.infos-content .play-btn::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left: 2px;
  margin: auto;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent black
} 

.circul-btn{
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer; 
}

.infos-content .circul-btn:not(:hover) {
  background: black;
  border-color:rgb(139, 139, 139)
}

.infos-content .circul-btn:hover {

  animation: gradientSlide 4s ease infinite;
} 

.infos-content .season {
  transform: translateX(-60px);
  /* transition: transform 0.25s ease-out 0.4s; */
}

.infos-content .plus-btn {
  position: relative;
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.infos-content .plus-btn::before {
  content: "";
  position: absolute;
  width: 1px;
  background-color: white;
  top:0; 
  right:0;
  bottom:0;
  left:0;
  margin: auto;
}

.infos-content .plus-btn::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: white;
  top:0; 
  right:0;
  bottom:0;
  left:0;
  margin: auto;
}

.infos-content p.nextflix-title{
  transition: all 1s ease-out 0.15s;
} 

.infos-content > h6 {
  transition: all 1s ease-out 0.25s;
} 

.infos-content > h6 + p {
  display: -webkit-box;
  /* width: 100%; */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  line-height: 1.3;
  transition: all 1s ease-out 0.35s;
}

.infos-content .movie-footer {
  transition: all 1s ease-out 0.45s;

}

.infos-content .nextflix-title {
  color: #3EAD59;

  font-weight: 600;
}

.card-gallery:hover {
  transform: scale(1.2);
  z-index: 10;
}

.card-gallery:hover .infos-container {
  opacity: 1;
  transform: translateY(-3rem);
  padding: 1rem;
  pointer-events: initial;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 10px 13px -7px #494848, 0px 3px 17px 5px rgba(110, 109, 109, 0.52); 
  box-shadow: 0px 10px 13px -7px #525252, 0px 3px 17px 5px rgba(82, 82, 82, 0.52);
  
}

.card-gallery:hover .infos-content .season, .card-gallery:hover .infos-content p, .card-gallery:hover .infos-content > h6,.card-gallery:hover .infos-content .movie-footer {
  opacity: 1;
  transform: translateY(0);
}

 .card-gallery:hover .infos-content .play-btn {
  opacity:1;
  transform: translateX(0);
} 

/*--------------------------------------App CSS-------------------------------*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------------------Footer CSS------------------------------*/

.svg {
  color: #646464;
}

/* .container{
  margin: auto;
  padding: auto;
} */


.svg {
  color: #646464;
}


.btn{
font-weight: bold ;
border-radius: 0;
}

.icon{
position: absolute;
color: black;
left: 15px;
bottom: 0;
}


.nav-link {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.service-code {
  border: 1px solid rgb(104, 104, 104);
  border-radius: 0;
  margin-right: 850px;
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 13px;
  padding: .5em;
}

.serv {
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 11px;
}

.footer {
  max-width: 980px;
  margin-left: 100px;
  color: grey;
}
